# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Logs
frontend-v2/logs
frontend-v2/*.log
frontend-v2/npm-debug.log*
frontend-v2/yarn-debug.log*
frontend-v2/yarn-error.log*
frontend-v2/pnpm-debug.log*
frontend-v2/lerna-debug.log*

frontend-v2/node_modules
frontend-v2/dist
frontend-v2/dist-ssr
frontend-v2/*.local

# Editor directories and files
frontend-v2/.vscode/*
frontend-v2/!.vscode/extensions.json
frontend-v2/.idea
frontend-v2/.DS_Store
frontend-v2/*.suo
frontend-v2/*.ntvs*
frontend-v2/*.njsproj
frontend-v2/*.sln
frontend-v2/*.sw?


backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

### VS Code ###
.vscode/
